# Database Configuration
DB_NAME=desi_wanderer
DB_ROOT_USER=root
DB_ROOT_PASSWORD=DesiWanderer@DbRoot
DB_SERVICE_USER=service
DB_SERVICE_PASSWORD=DesiWanderer@DbService

# Keycloak Configuration
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8400

# Service Database Configuration
KEYCLOAK_DB_PORT=10400
